<div id="loginLeft"></div>
<div id="loginRight">
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      
        <div class="wrapper">
          <form [formGroup]="changeCredentialsForm" (ngSubmit)="onFormSubmit(changeCredentialsForm.value)">
            <div class="group">
                  <p class="title">LINTELLECT</p>
                  <p class="subtitle">Enter your email and we send you a password reset link.</p>
            </div>

            <div class="group">
              <input type="text" name="username" [(ngModel)]="username" formControlName="username" autocomplete="off" />
              <div *ngIf="changeCredentialsForm.get('username').errors && changeCredentialsForm.get('username').dirty">
                  <p class="danger" ion-text *ngIf="changeCredentialsForm.get('username').hasError('required')">Field is required</p>
              </div>
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>New Username</label>
            </div> 

            <div class="group">
                <input type="text" name="password" [(ngModel)]="password" formControlName="password" autocomplete="off" />
                <div *ngIf="changeCredentialsForm.get('password').errors && changeCredentialsForm.get('password').dirty">
                    <p class="danger" ion-text *ngIf="changeCredentialsForm.get('password').hasError('required')">Field is required</p>
                </div>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>New Password</label>
            </div> 

            <div class="group">
                <input type="text" name="confirmPassword" [(ngModel)]="confirmPassword" formControlName="confirmPassword" autocomplete="off" />
                <div *ngIf="changeCredentialsForm.get('confirmPassword').errors && changeCredentialsForm.get('confirmPassword').dirty">
                    <p class="danger" ion-text *ngIf="changeCredentialsForm.get('confirmPassword').hasError('required')">Field is required</p>
                </div>
                
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Confirm Password</label>
            </div> 

            <div class="row mt-20">
              <div class="col-md-12">
                <button class="btn btn-login left" type="submit">Change credentials</button>
              </div>
            </div>

            <input type="hidden" name="token" [(ngModel)]="token" formControlName="token" />

            <div class="wrapper-btn">
                <a href="#" [routerLink]="['/signin']">
                  <p class="text-center">
                    Already have an account? Sign in.
                  </p>
                </a>
            </div>

          </form>
        </div>
       
    </div>  
  </div>
</div>

<div class="parent-loading" [ngClass]="{'show':loading}">
<div class="loading" >
    <div class="cssload-container">
      <div class="cssload-speeding-wheel"></div>
    </div>
</div>
</div>
